.projects {
	display: flex;
	flex-direction: column;
	flex: 1;
    /* justify-content: space-around; */
}

.section-title{
    color: blanchedalmond;
    font-size: 38px;
    font-weight: 700;
    /* margin-left: 100px; */
}