.about {
	padding-bottom: 48px;
}

.about-top {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.about-info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
	font-size: 42px;
    font-weight: 700;
}
.Social-Contact{
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-icon{
	width: 40px;
	height: 40px;
}

.social-icon-div {
	padding: 6px;
	margin: 12px;
	cursor: pointer;
	transition: transform 0.2s; /* Animation */
}

.social-icon-div:hover {
	transform: scale(1.5);
}
/* #git{
	width: 40px;
	height: 40px;
}

#insta{
	width: 40px;
	height: 40px;
	/* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);; */
/* } */
/* #linkdin{
	width: 40px;
	height: 40px;
}
#twitter{
	width: 40px;
	height: 40px;
} */ */
.typing {
	font-size: 40px;
	padding-top: 20px;
}

.info-name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
	font-weight: 600;
    color: rgb(255, 255, 255);
}
.my-name{
    color: burlywood;
}
.about-img{
    min-width: 420px;
	min-height: 420px;
}

.wave {
	animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
	animation-duration: 2.1s; /* Change to speed up or slow down */
	animation-iteration-count: infinite; /* Never stop waving :) */
	transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
	display: inline-block;
	min-height: 32px;
	min-width: 32px;
	max-width: 48px;
	max-width: 45px;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	} /* The following five values can be played with to make the waving more or less extreme */
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	} /* Reset for the last half to pause */
	100% {
		transform: rotate(0deg);
	}
}

@media only screen and (max-width: 720px) {
	.about-top {
		flex-direction: column;
		justify-content: center;
	}
	.about-img {
		min-width: 280px;
		min-height: 280px;
	}
	.about-info {
		font-size: 24px;
	}
	.info-name {
		font-size: 28px;
	}

	.my-name {
		display: flex;
	}

	.typing {
		font-size: 18px;
		padding-top: 18px;
	}
	.wave {
		height: 32px;
		width: 32px;
	}
}
